@font-face {
    font-family: 'CHANLPlain';
    src: url('channels.eot');
    src: url('channels.eot') format('embedded-opentype'),
    url('channels.woff') format('woff'),
    url('channels.ttf') format('truetype'),
    url('channels.svg#CHANLPlain') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTStd57Condensed';
    src: url('helveticaneueltstd-cn.eot');
    src: url('helveticaneueltstd-cn.eot') format('embedded-opentype'),
    url('helveticaneueltstd-cn.woff') format('woff'),
    url('helveticaneueltstd-cn.ttf') format('truetype'),
    url('helveticaneueltstd-cn.svg#HelveticaNeueLTStd57Condensed') format('svg');
}

/* reset css */
html, body, p , h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dd, dt,
form, fieldset, legend, img {
    margin  : 0;
    padding : 0;
}
p{margin-top:1em;font-size:11px;}
section, article, nav, header, footer { display : block; }
address, caption, cite, code, dfn, th, var,i,em {
    font-style  : normal;
    font-weight : normal;
}
table,tr,td{
  padding: 0;
}
em, i { font-weight : normal; }
table         { border-collapse : collapse;  border-spacing: 0;}
fieldset, img { border : none; }
ul, ol        { list-style : none; }
select, input { vertical-align : middle; outline : none; }
h1, h2, h3, h4, h5, strong, em { font-weight : normal; }
h1,h2{font-size: 1.5em;}
h3{font-size: 1.17em;}
h4,h5,h6{font-size: 1em;}
select, input, textarea {
    font-size   : 100%;
    margin      : 0;
    padding     : 0;
    outline     : none;
    font-family : arial, sans-serif;
}
textarea {
    resize   : none;
    overflow : auto;
    word-break : break-all;
    word-wrap  : break-word;
}
body {
    font: 12px/20px STHeiti,arial,simsun,sans-serif;
}
img,a,div,span{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


a:link, a:visited , a:hover , a:active {
  text-decoration: none;
}

a:focus {
    outline : none;
}
a {
  color: inherit;
  *color: #909090;
}
.clearfix {
    *zoom : 1;
}
.clearfix::after {
    content : ' ';
    display : block;
    clear   : both;
    height  : 0;
}
.fr {float:right;}
.fl {float:left;}

header{
    width: 900px;
    padding:0 50px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}
header .logo{ position: absolute;top: 50px;left: 200px;}
header .lang{ position: absolute;top: 0px;right: 0px; color: white;background: black;padding:2px 10px;}
header nav a{
    display: block;
    background: black;
    padding: 8px 10px 0 10px;
    margin: 3px 0;
    float: left;
    color: white;
    clear: left;
    font-family: "CHANLPlain";
    font-size:14px;
}
header nav a:hover , header nav a.selected{background: #981f26;}
article{color:white;}
.bred{background: rgba(228,30,38,.7);

    filter   : progid:DXImageTransform.Microsoft.gradient(startColorStr='#B2E41E26',EndColorStr='#B2E41E26');
    -ms-filter : progid:DXImageTransform.Microsoft.gradient(startColorStr='#B2E41E26',EndColorStr='#B2E41E26');
    zoom: 1;
}
.bgry{
    background: rgba(63,56,55,.7);
    filter   : progid:DXImageTransform.Microsoft.gradient(startColorStr='#B23F3837',EndColorStr='#B23F3837');
    -ms-filter : progid:DXImageTransform.Microsoft.gradient(startColorStr='#B23F3837',EndColorStr='#B23F3837');
    zoom: 1;
}
.bred a , .bgry a{color:white;}
.main{color: white;width: 900px; margin: 0 auto;margin-top: 30px;padding:0 50px;}

/***** common style for slider ****/
.main .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: white;
}
.main .bx-wrapper .bx-prev,.main .bx-wrapper .bx-next{
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: -22px;
    background: url(../img/slider.png) no-repeat center 0; width: 50px; height: 50px;}
.main .bx-wrapper .bx-prev:hover,.main .bx-wrapper .bx-next:hover{
    opacity:0.7;
}
.main .bx-wrapper .bx-prev{left: -65px;}
.main .bx-wrapper .bx-prev:hover{background-position: center 0;}
.main .bx-wrapper .bx-next{right: -65px;background-position: center -50px;}
.main .bx-wrapper .bx-next:hover{background-position: center -50px;}

/** main - events **/
.main-events{width: 840px;margin: 0 0 0 5px;height: 250px;}
.events-slider{overflow: hidden;}
.events-slider li{background: rgba(228,30,38,0.8);
    filter   : progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCE41E26',EndColorStr='#CCE41E26');
    -ms-filter : progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCE41E26',EndColorStr='#CCE41E26');
    zoom: 1;
}
.events-slider li a {display:block;}
.events-slider li img{float: right;}
.events-slider li article{padding: 20px;margin-right:420px;}
.events-slider li article h2{text-transform: uppercase;font-size: 18px;font-weight: bolder;
    font-family: 'HelveticaNeueLTStd57Condensed';
    font-weight: normal;}
.events-slider li article .date{font-size: 16px;text-transform: uppercase;margin:10px 0; color: #e0e0e0;
    font-family: 'HelveticaNeueLTStd57Condensed';
    font-weight: normal;}
.main-events .bx-pager{display: none;}

/** main - wine **/
.main-wine{width: 740px;margin: 0 0 0 5px;height: 250px;}
.wine-slider{overflow: hidden;}
.wine-slider li{background: rgba(228,30,38,0.8);
     filter   : progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCE41E26',EndColorStr='#CCE41E26');
    -ms-filter : progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCE41E26',EndColorStr='#CCE41E26');
    zoom: 1;
}
.wine-slider li:hover {opacity:0.7;}
.wine-slider li a {display:block;}
.wine-slider li img{float: right;}
.wine-slider li article{padding: 30px;margin-right:192px;}
.wine-slider li article h2{text-transform: uppercase;font-size:21px;text-align: center;border-bottom:1px solid #dda2ac;padding:0 0 20px 0;margin:0 0 20px 0;
    font-family: 'HelveticaNeueLTStd57Condensed';
    font-weight: normal;}
.wine-slider li article .date{font-size: 16px;text-transform: uppercase;margin:10px 0; color: #e0e0e0;}
.main-wine .bx-pager{display: none;}

/** index-list **/
.amet-list{
    width: 472px;
    float: left;
    height: 100%;
    overflow: hidden;
    margin-right: 20px;
}
.amet-list li{}
.amet-list li a {display: block;padding:20px;height:88px;}
.amet-list li:hover {opacity:0.8;}
.amet-list li h2{margin-bottom: 10px;}
.amet-list li h2 em{float:right;color: #eee;}
.main-index{height:256px;}
.main-index .slider-bar{height:100%;float:left;width:2px;background:#000;opacity:0.5;position: relative;}
.main-index .slider-btn{position:absolute;cursor:n-resize;width: 11px;height:45px;background: #e21e26;margin-left:-5px;}
/**main-offers**/
.main-offers{
    width: 840px ;
}
.main-offers > div{
    float: left;
    background: rgba(0,0,0,0.5);
    filter   : progid:DXImageTransform.Microsoft.gradient(startColorStr='#7F000000',EndColorStr='#7F000000');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7F000000',EndColorStr='#7F000000');;
    zoom: 1;
}
.main-offers > div:hover {opacity:0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    zoom: 1;
}
.main-offers > div a{
    display: block;
}
.main-offers article {padding:30px;margin-right:368px;}

.main-offers > div:first-child{background: rgba(228,30,38,0.8);
    filter   : progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCE41E26',EndColorStr='#CCE41E26');
    -ms-filter : progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCE41E26',EndColorStr='#CCE41E26');
    zoom: 1;
}
.main-offers h2{
    font-size:21px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'HelveticaNeueLTStd57Condensed';
    font-weight: normal;
}
.main-offers img {float:right;}
.main-offers .date{font-size:16px;color:#eee; text-align: center;padding: 15px; border-bottom: 1px solid white;
    font-family: 'HelveticaNeueLTStd57Condensed';opacity:0.6;}

/***main-photos***/
.main-photos {
    background: rgba( 0 , 0 ,0 , .5);
    filter   : progid:DXImageTransform.Microsoft.gradient(startColorStr='#7F000000',EndColorStr='#7F000000');
    -ms-filter : progid:DXImageTransform.Microsoft.gradient(startColorStr='#7F000000',EndColorStr='#7F000000');
    zoom: 1;
    width: 528px;
    padding: 20px 20px 10px 20px;
}
.main-photos img{
    width: 84px;
    height: 84px;
    border: 3px solid #ac1916;
    margin: 6px;
}
.main-photos a:hover {opacity: 0.7;}
.main-photos .bx-wrapper{margin: 0 auto 20px;}
.main-photos .bx-wrapper img{display: inline-block;}
.main-photos .bx-wrapper .bx-pager{bottom: -24px;}
.main-photos .bx-wrapper .bx-viewport{background: none;border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0;
}
.main-photos .bx-controls-direction .bx-prev {left:-85px;}
.main-photos .bx-controls-direction .bx-next {right:-85px;}

/***main-press***/
.main-press {margin-left:0px;}
.main-press .bx-wrapper {margin:0 0 0 -37px;}
.main-press li{text-align: center;}
.main-press .bx-wrapper img{margin:0 25px; display: inline-block;}
.main-press .bx-wrapper .bx-viewport{background: none;border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0;
}
.main-press .bx-wrapper .bx-prev{
    left: -15px;
}
.main-press .bx-wrapper .bx-next{
    right: -15px;
}

/***main-contact**/
.main-contact > div{
    width: 226px;
    height: 160px;
    margin-right: 10px;
    padding: 30px 32px;
}
.main-contact h3{
    font-size: 33px;
    margin-bottom: 23px;
    font-family: 'HelveticaNeueLTStd57Condensed';
    font-weight: normal;
    text-transform: uppercase;
}
.main-contact p{
    margin-top: 0.5em;
    font-size:11px;
}

footer{background: rgba(198,38,43,0.9); padding: 30px 0;position: fixed; bottom:0; width: 100%;
    filter   : progid:DXImageTransform.Microsoft.gradient(startColorStr='#E5C6262B',EndColorStr='#E5C6262B');
    -ms-filter : progid:DXImageTransform.Microsoft.gradient(startColorStr='#E5C6262B',EndColorStr='#E5C6262B');
    zoom: 1;
}
footer .footer{width: 1000px;margin:0 auto;color: #eee;}
footer .share{
    float: right;
    width: 100px;
}
footer .address , footer .tel{ float:left; margin:0 20px;}
footer .share .facebook , footer .share .twitter{float:right; width: 16px;height:16px;background: url(../img/share.png) no-repeat;}
footer .share .twitter{background-position: -20px 0;margin-left: 3px;}
footer .share a:hover {opacity:0.7;}

.popup {color:#fff;padding:50px;}
.popup h2 {font-family: 'HelveticaNeueLTStd57Condensed';}

.wine-slider li,
.amet-list li,
.main-offers > div,
a,
.main .bx-wrapper .bx-prev:hover,.main .bx-wrapper .bx-next:hover
{-webkit-transition:   all 0.3s ease;-moz-transition:  all 0.3s ease;-o-transition:  all 0.3s ease;-ms-transition:  all 0.3s ease;transition:  all 0.3s ease;}



.main-events .bx-viewport{
    height: 244px !important;
}